[submodule "sim-datasets-py"]
	path = sim-datasets-py
	url = https://github.com/scientific-intelligent-modelling/sim-datasets.git
[submodule "paper/Paper-SRInfra"]
	path = paper/Paper-SRInfra
	url = git@github.com:ziwenhahaha/Paper-SRInfra.git
